* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi';
}

body {
    background-color: #403e41;
    color: antiquewhite;
    background-image: linear-gradient(#5f5f61, #686669);
    overflow: hidden;
    position: fixed;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 25px;
}

a:link {
    color: antiquewhite;
  }
  
  /* visited link */
  a:visited {
    color: antiquewhite;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px;
}

.header-grid {
    display: grid;
    grid-template-areas:
    'top top top'
    '. center .'
    'bottom bottom bottom';
    place-content: center;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    padding-top: 20px;
    grid-area: center;
}

.side-menu {
    display: flex;
    flex-direction: column;
    place-self: center;
}

.side-button {
    width: 120px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-block;
    
    border-bottom: 3px dotted rgb(160, 160, 160);
    text-align: center;
}

main {
    height: 100vh;
    padding-top: 20px;
    margin-left: 20px;
}

.side-bar {
    margin-left: 20px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.stat-info {
    border-bottom: 3px dotted #403e41;
}

#driver-info {
    margin-bottom: 20px;
}

.content {
    height: 50%;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.content > section {
    padding: 10px;
    margin: 10px 10px 250px 10px;
    height: 360px;
    width: 360px;
}

.content > section h3 {
    font-size: 26px;
}

#img01-vettel {
    position: fixed;
    /* width: 720px; */
    /* grid-area: center; */
    z-index: -2;
    overflow: hidden;
}

#img01-vettel > img {
    width: 980px;
}

.cars-gallery {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 5px 5px;
}

.cars-gallery > div {
    height: 200px;
    width: 100%;
    place-self: center center;
    text-align: center;
    border: 2px;
    border-style: groove;
    display: block;
    justify-content: center;
}

.cars-gallery > div > img {
    width: 90%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-container > h3 {
    margin: 30px 0 20px 20px;
}

.contact-form {
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 2fr 4fr;
    width: 670px;
    border-right: 3px dotted;
    border-left: 3px dotted;
    padding-right: 20px;
    padding-left: 20px;
}

#form-submit-button {
    display: flex;
    margin-top: 40px;
    width: 200px;
    place-self: center center;
}

/********** Medium or bigger **********/

@media (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        overflow: hidden;
    }
}

/********** Small devices only ***********/

@media (min-width: 768px) and (max-width: 991px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 10fr;
    }
}

/********** Extra-Small devices only **********/

@media (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 5fr;
    }

    #driver-info {
        display: none;
    }
}